.header-img{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: fixed;
	background-image:url('C:\Users\thors\Desktop\Thorsten_website\images\background_photo.jpg');
	
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.header-img img { 
	width: 100%;
}

.title{
	position:fixed;
	width:100%;
	text-align:left;
	margin-left:10%;
	color:#fff;
}

.main-title h1{
	font-size:60px;
}

.sub-title{
	font-size:30px;
	font-style:italic;
	font-weight:bold;
}

.wrapper{
	background-color: #fff;
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
}

h2 {
	text-align: center;
	padding: 40px;
	font-size: 36px;
}

.section-about h1{
	text-align: center;
}

.card{
	border: none;
	margin-bottom:40px;
}

.dark-bg {
	background-color:#1d1d1d;
	padding-bottom:40px;
	color:#ccc;
}

.dark-bg p {
	font-size:20px;
}